:root {
  --dark-green: #31c3bd;
  --light-green: #65e9e4;
  --darkest-yellow: #cc8b13;
  --dark-yellow: #f2b137;
  --light-yellow: #ffc860;
  --dark-black: #1a2a33;
  --light-black: #1f3641;
  --dark-white: #a8bfc9;
  --darkest-white: #6b8997;
  --white: #dbe8ed;
  --container: min(100% - 2rem, 29rem);
  --gap: min(4vw, 1.25rem);
}

body {
  background-color: var(--dark-black);
  color: var(--white);
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  letter-spacing: 0.15rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
}

main {
  width: var(--container);
  margin-inline: auto;
}

button {
  --shadow-color: #10212a;
  text-transform: uppercase;
  border-radius: 1rem;
  border: 0 solid var(--shadow-color);
  border-bottom-width: 0.5rem;
  transition: 0.1s;
  outline: none;
}

button:focus-visible {
  outline: 5px solid var(--shadow-color);
}

button:not(.tile):active {
  border-bottom-width: 2px;
  margin-top: 4px;
}

.gray {
  background-color: var(--dark-white);
  --shadow-color: var(--darkest-white);
}

svg {
  overflow: visible;
}

/** Animation */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pop-up {
  0% {
    transform: scale(0.1);
  }

  30% {
    transform: scale(1.6);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade-up {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  30% {
    transform: scale(1.6);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes drop-in {
  0% {
    transform: scale(3);
  }

  80% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes spin-left {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-right {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

[data-animation="blink"] {
  animation: blink 0.25s ease-in-out 2;
}

[data-animation="fade-in"] {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

[data-animation="pop-up"] {
  animation: pop-up 0.5s ease-in-out forwards;
}

[data-animation="fade-up"] {
  opacity: 0;
  animation: fade-up 0.5s ease-in-out forwards;
}

[data-animation="drop-in"] {
  animation: drop-in 0.5s ease-in-out forwards;
}

[data-animation="spin-left"] {
  animation: spin-left 3 0.03s ease-in-out forwards;
}

[data-animation="spin-right"] {
  animation: spin-right 3 0.03s ease-in-out forwards;
}
