.top-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.2rem;
  width: 100%;
}

.turn-tile {
  --shadow-color: #10212a;
  color: var(--dark-white);
  background-color: var(--light-black);
  text-transform: uppercase;
  border-radius: 1rem;
  border: 0 solid var(--shadow-color);
  border-bottom-width: 0.5rem;
  transition: 0.1s;
  padding: 1.1rem 2.2rem 0.7rem 1.8rem;
  display: flex;
  gap: 1rem;
}

.restart button {
  --shadow-color: var(--darkest-white);
  background-color: var(--dark-white);
  border-radius: 1rem;
  padding: 1rem 1.1rem 0.5rem 1.1rem;
}

.restart {
  display: flex;
  justify-content: flex-end;
}

.icons {
  margin-bottom: -1rem;
}
