.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: var(--column-gap);
  margin-top: var(--column-gap);
  width: 100%;
}

.stat-tile {
  color: var(--dark-black);
  background-color: var(--light-black);
  text-transform: uppercase;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 4.5rem;
  font-size: 1rem;
  text-align: center;
}

.stat-label {
  white-space: nowrap;
  font-size: 0.875rem;
  font-weight: 400;
}

.number {
  font-size: 1.5rem;
  font-weight: 800;
}

.ties {
  background-color: var(--dark-white);
  --shadow-color: var(--darkest-white);
}

.x-wins {
  background-color: var(--light-green);
  --shadow-color: var(--dark-green);
}

.o-wins {
  background-color: var(--dark-yellow);
  --shadow-color: var(--darkest-yellow);
}
