.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: var(--gap);
  margin-top: var(--gap);
  width: 100%;
}

.stat-tile {
  --shadow-color: #10212a;
  color: var(--dark-black);
  background-color: var(--light-black);
  text-transform: uppercase;
  border-radius: 1rem;
  border: 0 solid var(--shadow-color);
  border-bottom-width: 0.5rem;
  transition: 0.1s;
  padding: 0.6em 1.3em 0.2em 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 7.5rem;
  font-size: 1rem;
  text-align: center;
}

.number {
  font-weight: 700;
  font-size: 1.5rem;
}

.stat-tile div {
  font-weight: 400;
}

.ties {
  background-color: var(--dark-white);
  --shadow-color: var(--darkest-white);
}

.x-wins {
  background-color: var(--light-green);
  --shadow-color: var(--dark-green);
}

.o-wins {
  background-color: var(--dark-yellow);
  --shadow-color: var(--darkest-yellow);
}
